{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
    <h1 class="text-center">Вот что я умею:</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <aside class="col-md-1">
            Python
          </aside>
          <article class="col-md-11">
            <p>
              Высокоуровневый язык программирования общего назначения с
              динамической строгой типизацией и автоматическим управлением
              памятью, ориентированный на повышение производительности
              разработчика, читаемости кода и его качества, а также на
              обеспечение переносимости написанных на нём программ.</p>
          </article>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <aside class="col-md-1">
            Django
          </aside>
          <article class="col-md-11">
            <p>
              Свободный фреймворк для веб-приложений на языке Python,
              использующий шаблон проектирования MVC. Проект поддерживается
              организацией Django Software Foundation.
            </p>
          </article>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <aside class="col-md-1">
            SQL
          </aside>
          <article class="col-md-11">
            <p>Декларативный язык программирования, применяемый для создания,
              модификации и управления данными в реляционной базе данных,
              управляемой соответствующей системой управления базами данных.
            </p>
          </article>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <aside class="col-md-1">
            C#
          </aside>
          <article class="col-md-11">
            <p>
              Объектно-ориентированный язык программирования. Разработан в
              1998—2001 годах группой инженеров компании Microsoft под
              руководством Андерса Хейлсберга и Скотта Вильтаумота как язык
              разработки приложений для платформы
              Microsoft .NET Framework и .NET Core.
            </p>
          </article>
        </div>
      </li>
    </ul>
{% endblock %}